<article class = "mx-5 my-5">
    <a href ="/dashboard"> &larr; Back to dashboard</a>

    <h2>
        Edit Blog
    </h2>

<form class ="edit-post-form"> 
    <div class="form-group edit-post-form">
      <input type="text" class="form-control edit-post-form" id="post-title" name = "post-title" value = "{{post.title}}">
    </div>
    <div class ="edit-post-form">
      <div class="card-body edit-post-form">
          <p class="card-text text-white">{{post_text}}</p>
          <a href="/post/{{id}}" class="btn btn-primary">{{comments.length}} {{format_plural "comment" comments.length}}</a>
          <button type = "submit" class = "btn btn-primary" id ="save">Save</button>
          <button type ="button" class ="btn btn-primary delete-post-btn">Delete</button>
      </div>
    </div>
</form>
</article>


<form class =" comment-form mx-5 my-5">
  <div class="form-group">
    <textarea name ="comment-body"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">add comment</button>
</form>


{{#each post.comments}}
<div class="card text-white bg-dark w-75 mx-5 my-5">
  <div class="card-body">
    <h5 class="card-title text-white">{{user.username}} on {{format_date created_at}}</h5>
    <p class="card-text text-white">{{comment_text}}</p>
  </div>
</div>
{{/each}}

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>