{{#each posts as |post|}}
<div class="card text-white bg-dark mb-3 mx-5 my-5 rounded">
  <h5 class="card-header text-white"> {{post.title}} <span class="text-right">{{post.created_at}}</span></h5>
  <div class="card-body">
    <p class="card-text text-white">{{post.post_text}}</p>
    <a href="/post/{{post.id}}" class="btn btn-primary">{{post.comments.length}} comments</a>
  </div>
</div>
{{/each}}